DigitalXMVC/Service References/AuthServiceReference/AuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10583/AuthService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10583/AuthService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10583/AuthService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AuthService" />
      <xsd:import schemaLocation="http://localhost:10583/AuthService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DigitalXData" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_ProductGetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductGetAll" />
  </wsdl:message>
  <wsdl:message name="IAuthService_ProductGetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_ProductGetDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductGetDetails" />
  </wsdl:message>
  <wsdl:message name="IAuthService_ProductGetDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductGetDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_ProductGetTop_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductGetTop" />
  </wsdl:message>
  <wsdl:message name="IAuthService_ProductGetTop_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductGetTopResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/Login" message="tns:IAuthService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/LoginResponse" message="tns:IAuthService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/Register" message="tns:IAuthService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/RegisterResponse" message="tns:IAuthService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductGetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/ProductGetAll" message="tns:IAuthService_ProductGetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/ProductGetAllResponse" message="tns:IAuthService_ProductGetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductGetDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/ProductGetDetails" message="tns:IAuthService_ProductGetDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/ProductGetDetailsResponse" message="tns:IAuthService_ProductGetDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductGetTop">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/ProductGetTop" message="tns:IAuthService_ProductGetTop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/ProductGetTopResponse" message="tns:IAuthService_ProductGetTop_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthService" type="tns:IAuthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IAuthService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IAuthService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductGetAll">
      <soap:operation soapAction="http://tempuri.org/IAuthService/ProductGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductGetDetails">
      <soap:operation soapAction="http://tempuri.org/IAuthService/ProductGetDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductGetTop">
      <soap:operation soapAction="http://tempuri.org/IAuthService/ProductGetTop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="BasicHttpBinding_IAuthService" binding="tns:BasicHttpBinding_IAuthService">
      <soap:address location="http://localhost:10583/AuthService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>